:root {
  --background-color__anchor: #777;
  --background-color__anchor--hover: #000;
}

.home {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
      background-color: var(--background-color__anchor);
      border-radius: 10px;
      padding: 1rem;

      &:hover {
        background-color: var(--background-color__anchor--hover);
      }
    }

    .image {
      overflow: hidden;
    }
  }
}
