.open-data {
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > * {
      border: 1px solid;
      border-radius: 7px;
      padding: 1rem;
    }

    .title {
      margin-top: 2rem;
      text-align: center;
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      input,
      button {
        padding: 0.5rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .pages {
        min-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      table {
        border: 1px solid red;
        border-collapse: collapse;

        th,
        td {
          border: 1px solid lightgray;
          padding: 0.5rem;
        }
      }

      .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        ul {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
        }

        button {
          padding: 1rem;
        }

        .page-number {
          background-color: #aaa;

          a {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
          }
        }

        .current-page {
          background-color: #000;
          color: #fff;
          border: 1px solid;
        }
      }
    }
  }
}
