:root {
  --background-color__box: #eee;
  --border-color__box: #e0e0e0;
  --background-color__table: #fff;
  --background-color__table-head: #aaa;
}

.open-data {
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > * {
      background-color: var(--background-color__box);
      border: 1px solid var(--border-color__box);
      border-radius: 7px;
      padding: 1rem;
    }

    .title {
      margin-top: 2rem;
      text-align: center;
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      input,
      button {
        padding: 0.5rem;
      }

      input {
        border: 1px solid #ccc;
      }

      button {
        background-color: #bbb;

        // &:hover {
        //   background-color: #000;
        //   color: #fff;
        // }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .pages {
        min-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .table {
        overflow-x: scroll;

        table {
          width: max-content;
          border-collapse: collapse;
          background-color: var(--background-color__table);

          th,
          td {
            border: 1px solid var(--border-color__box);
            padding: 0.5rem;
          }

          th {
            background-color: var(--background-color__table-head);
          }

          tr:nth-of-type(n):hover {
            background-color: #ffeb3b;
          }
        }
      }

      .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        ul {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
        }

        button {
          padding: 1rem;
        }

        .page-number {
          background-color: #aaa;

          a {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
          }
        }

        .current-page {
          background-color: #000;
          color: #fff;
          border: 1px solid;
        }
      }
    }
  }
}
