@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  footer {
    > section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

html {
  button {
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
