@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  header,
  main,
  footer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    > section {
      width: 100%;
      height: 100%;
      max-width: 1000px; // layout
      margin: auto;
      // border: 3px solid;
    }
  }

  header {
    height: 70px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    nav {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  main {
    > section {
      min-height: 100vh;
      padding: 2rem;
      padding-top: 70px;
    }
  }

  footer {
    background-color: #777;
    color: #eee;
    padding: 3rem;

    > section {
      max-width: 1000px;
      width: 100%;

      position: relative;
      margin: auto;
      padding: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border-top: 1px solid;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

html {
  button {
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
